body {
  background-color: rgb(236, 236, 239);
  padding: 2rem;
}

.App {
  background-color: rgb(250, 250, 250);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;
}

.App h6 {
  padding-left: 0.6rem;
}
.navBar {
  margin-top: 0.5rem;
  display: flex;
  justify-content: left;
  padding-left: 2rem;
  align-items: center;
  height: 4rem;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.searchBar {
  
  border: none;
  height: 3rem;
  width: 30%;
  font-size: small;
  display: flex;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.searchCountry {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: none;
  height: 3rem;
  width: 100%;
  font-size: small;
}

.Main {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 2rem;
  align-items: center;
}

.maincontent {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 2rem;
  align-items: center;
}
.filterBar {
  width: 10rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: none;
}
.filterRegion {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: none;
}
.filterSubregion{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: none;
}
.dropdown {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: none;
  height: 3rem;
  width: 100%;
  font-size: small;
  border: none;
}

.displayWindow {
  margin-top: 2rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  justify-content: space-around;
  padding-top: 1rem;
  background-color: rgb(250, 250, 250);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.card {
  display: flex;
  flex-direction: column;
  width: 17rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
  padding: 0.1rem;
}

.flag {
  width: 100%;
  height: 50%;
  border: solid;
}
